*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  text-align: center;
  background-color: #1b2035;
  color: #fff;
}

.app{
  padding: 2rem 1rem;

}

h1{
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

input{
  appearance: none;
  outline: none;
  border: none;
  background: #EEE;
  width: 100%;
  max-width: 300px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
}

button{
  appearance: none;
  outline: none;
  border: none;
  background: #1b2035;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

img{
  display: block;
  width: 100%;
  max-width: 510px;
  margin: 2rem auto;

}